<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.community.petish.dog.missingboard.mapper.AttachFileMapper">

<insert id="insert">
insert into attach_tb (uuid, uploadpath, filename, filetype, postid)
values(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{postId})
</insert>

<delete id="delete">
delete from attach_tb where uuid=#{uuid} 
</delete>

<select id="findByPostId" resultType="com.community.petish.dog.missingboard.domain.AttachFileVO">
select * from attach_tb where postid=#{postId}
</select>

<delete id="deleteAll">
delete attach_tb where postid=#{postId}
</delete>

</mapper>