<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.community.petish.mypage.mapper.MessageMapper">
	<resultMap type="com.community.petish.mypage.dto.MessageResponseDTO" id="MessageResultMap">
		<result property="id" column="ID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="sent_date" column="SENT_DATE" />
		<result property="read" column="READ" />
		<result property="deleted" column="DELETED" />
		<result property="sender_id" column="SENDER_ID" />
		<result property="receiver_id" column="RECEIVER_ID" />
		<result property="nickname" column="NICKNAME"/>
	</resultMap>
	
	<!-- 1. 쪽지 작성 -->
	<insert id="writeMessage" parameterType="com.community.petish.mypage.dto.MessageRequestDTO">
		INSERT INTO MESSAGE (title, content, sender_id, receiver_id) values (#{title}, #{content}, #{sender_id}, #{receiver_id})
	</insert>
	
	<!-- 2. 받은 쪽지 리스트 조회 -->
	<select id="getReceivedMessageList" resultMap="MessageResultMap" parameterType="Long">
		SELECT m.id, m.title, m.content, m.sent_date, m.read, m.deleted, u.nickname 
		from message m, user_tb u
		where receiver_id = #{user_id} and m.sender_id=u.id
		order by id desc
	</select>
	
	<!-- 3. 보낸 쪽지 리스트 조회 -->
	<select id="getSentMessageList" resultMap="MessageResultMap" parameterType="Long">
		select m.id, m.title, m.content, m.sent_date, m.read, m.deleted, u.nickname
		from message m, user_tb u
		where m.sender_id = #{user_id} and m.receiver_id=u.id
		order by id desc
	</select>
	
	<!-- 4. 받은 쪽지 상세조회 -->
	<select id="receivedMessageDetail" resultMap="MessageResultMap" parameterType="Long" >
		select m.id, m.title, m.content, m.sent_date, u.nickname, m.sender_id
		from message m, user_tb u
		where m.id = #{id} and m.sender_id=u.id
	</select>
	
	<!-- 5. 보낸 쪽지 상세조회 -->
	<select id="sentMessageDetail" resultMap="MessageResultMap" parameterType="Long" >
		select m.id, m.title, m.content, m.sent_date, m.receiver_id, m.sender_id, u.nickname 
		from message m, user_tb u
		where m.id = #{id} and m.receiver_id=u.id
	</select>
	
	<!-- 6. 쪽지 삭제 -->
	<update id="deleteMessage" parameterType="Long">
		update message set deleted=1 where id=#{id}
 	</update>

	<!-- 7. 받은 메세지중 삭제안된 메세지 갯수 -->
	<select id="getUndeletedReceived" parameterType="Long" resultType="int">
		select count(*) from message where deleted = 0 and receiver_id = #{user_id}
	</select>

	<!-- 8. 보낸 메세지중 삭제안된 메세지 갯수 -->
	<select id="getUndeletedSent" parameterType="Long" resultType="int">
		select count(*) from message where deleted = 0 and sender_id= #{user_id}
	</select>
	
	<!-- 9. 쪽지 읽음으로 변경 -->
	<update id="changeReadAttr" parameterType="com.community.petish.mypage.dto.MessageRequestDTO">
		update message set read=1 where id=#{id} and receiver_id=#{receiver_id}
	</update>
	
</mapper>










































