<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
//DOG_LOST_COMMENT_TB 시퀀스 생성
create sequence SEQ_DOG_LOST_COMMENT_TB_IDX
START WITH 1
INCREMENT BY 1
NOMAXVALUE
NOCACHE;

//DOG_LOST_COMMENT_TB 인덱스 생성
create index IDX_DOG_MISSING_COMMENT on DOG_LOST_COMMENT_TB(POST_ID  desc, ID asc);
-->
<mapper namespace="com.community.petish.community.dog.missingboard.mapper.DogLostCommentMapper">

	<!-- 댓글 추가 -->
	<insert id="insertComment" parameterType="com.community.petish.community.dog.missingboard.dto.DogLostCommentRequestDTO">
		insert into DOG_LOST_COMMENT_TB(ID, CONTENT, CREATED_DATE, UPDATED_DATE, DELETED, POST_ID, USER_ID)
		values(((select NVL(max(id), 0) from DOG_LOST_COMMENT_TB) + 1), #{content}, sysdate, sysdate, 0, #{post_id}, #{user_id})
	</insert>
	
	<!-- 댓글 조회 -->
	<select id="getComment" resultType="com.community.petish.community.dog.missingboard.dto.DogLostCommentResponseDTO">
		select comment.id, comment.content, comment.created_date,
		comment.updated_date, comment.post_id, u.nickname,
		from DOG_LOST_COMMENT_TB comment, USER_TB u, 
		where comment.user_id=u.id AND comment.ID = #{id}		
	</select>
	
	<!-- 댓글 리스트 조회 -->
	<select id="getCommentList" resultType="com.community.petish.community.dog.missingboard.dto.DogLostCommentResponseDTO">
		<![CDATA[
			SELECT ID, CONTENT, USER_ID, CREATED_DATE, UPDATED_DATE, POST_ID, NICKNAME
			FROM (
			SELECT /*+INDEX(DOG_LOST_COMMENT_TB IDX_DOG_GATHER_COMMENT)*/
			rownum rn, c.POST_ID, c.ID, c.CONTENT, c.USER_ID, c.CREATED_DATE, c.UPDATED_DATE, c.DELETED, u.NICKNAME
			FROM DOG_LOST_COMMENT_TB c, USER_TB u
			WHERE C.POST_ID = #{cri.post_id} and C.ID > 0 and C.DELETED = 0 AND C.USER_ID=U.ID
			AND rownum <= #{cri.pageNum} * #{cri.amount}
			ORDER BY C.ID
			)
			WHERE rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>    
	</select>
	
	<!-- 댓글 수 조회 -->
	<select id="getCommentCount" resultType="Integer">
		select count(id) from DOG_LOST_COMMENT_TB
		where POST_ID=#{post_id} and DELETED = 0
	</select>
	
	<!-- 댓글 수정 -->
	<update id="modifyComment" parameterType="com.community.petish.community.dog.missingboard.dto.DogLostCommentRequestDTO">
		update DOG_LOST_COMMENT_TB
		set CONTENT=#{content}, UPDATED_DATE=sysdate
		where ID=#{id}
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="removeComment">
		update DOG_LOST_COMMENT_TB
		set DELETED = 1
		where ID=#{id}
	</update>

</mapper>