<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.community.petish.community.dog.missingboard.mapper.DogLostPostMapper">

	<resultMap
		type="com.community.petish.community.dog.missingboard.domain.DogLostPostVO"
		id="DogLostPostVO">
		<result property="id" column="ID" />
		<result property="dog_name" column="DOG_NAME" />
		<result property="dog_age" column="DOG_AGE" />
		<result property="dog_gender" column="DOG_GENDER" />
		<result property="dog_description" column="DOG_DESCRIPTION" />
		<result property="dog_image" column="DOG_IMAGE" />

		<result property="dog_lost_date" column="DOG_LOST_DATE" />
		<result property="phone_number" column="PHONE_NUMBER" />
		<result property="dog_lost_address" column="DOG_LOST_ADDRESS" />
		<result property="reward" column="REWARD" />
		<result property="view_count" column="VIEW_COUNT" />
		<result property="create_date" column="CREATE_DATE" />
		<result property="updated_date" column="UPDATED_DATE" />
		<result property="found" column="FOUND" />
		<result property="deleted" column="DELETED" />

		<result property="region_id" column="REGION_ID" />
		<result property="user_id" column="USER_ID" />
		<result property="species_id" column="SPECIES_ID" />
	</resultMap>


	<resultMap
		type="com.community.petish.community.dog.missingboard.dto.DogLostPostResponseListDTO"
		id="DogLostPostListDTO">
		<result property="id" column="ID" />

		<result property="dog_age" column="DOG_AGE" />
		<result property="dog_gender" column="DOG_GENDER" />
		<result property="dog_image" column="DOG_IMAGE" />

		<result property="dog_lost_address" column="DOG_LOST_ADDRESS" />

		<result property="view_count" column="VIEW_COUNT" />
		<result property="create_date" column="CREATE_DATE" />
		<result property="updated_date" column="UPDATED_DATE" />
		<result property="found" column="FOUND" />

		<result property="nickname" column="NICKNAME" />
		<result property="dog_species" column="DOG_SPECIES" />
	</resultMap>


	<resultMap
		type="com.community.petish.community.dog.missingboard.dto.DogLostPostResponseDetailDTO"
		id="DogLostPostDetailDTO">
		<result property="id" column="ID" />

		<result property="dog_name" column="DOG_NAME" />
		<result property="dog_age" column="DOG_AGE" />
		<result property="dog_gender" column="DOG_GENDER" />
		<result property="dog_description" column="DOG_DESCRIPTION" />
		<result property="dog_image" column="DOG_IMAGE" />

		<result property="dog_lost_date" column="DOG_LOST_DATE" />
		<result property="phone_number" column="PHONE_NUMBER" />
		<result property="dog_lost_address" column="DOG_LOST_ADDRESS" />
		<result property="reward" column="REWARD" />

		<result property="view_count" column="VIEW_COUNT" />
		<result property="create_date" column="CREATE_DATE" />
		<result property="updated_date" column="UPDATED_DATE" />

		<result property="found" column="FOUND" />

		<result property="nickname" column="NICKNAME" />
		<result property="dog_species" column="DOG_SPECIES" />
	</resultMap>

	<!-- 게시글 수 조회 -->
	<select id="getPostCount" resultType="Integer">
		SELECT COUNT(*) FROM
		dog_lost_post_tb WHERE DELETED=0
	</select>

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							DOG_LOST_ADDRESS like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							NICKNAME like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 게시판 리스트(페이징 + 검색) -->
	<select id="getDogLostList" resultMap="DogLostPostListDTO">
	<![CDATA[
		SELECT ID, DOG_AGE, DOG_GENDER, DOG_LOST_ADDRESS, VIEW_COUNT, CREATE_DATE, UPDATED_DATE, FOUND, SPECIES_ID, DOG_SPECIES, NICKNAME
		FROM 
			(SELECT rownum rn, ID, DOG_AGE, DOG_GENDER, DOG_LOST_ADDRESS, VIEW_COUNT, CREATE_DATE, UPDATED_DATE, FOUND, SPECIES_ID, DOG_SPECIES, NICKNAME
    		FROM
    			(SELECT post.ID, post.DOG_AGE, post.DOG_GENDER, post.DOG_LOST_ADDRESS, post.VIEW_COUNT, post.CREATE_DATE, post.UPDATED_DATE, post.FOUND, post.SPECIES_ID, species.DOG_SPECIES, u.NICKNAME
				FROM dog_lost_post_tb post, dog_species_tb species, user_tb u
				WHERE post.DELETED=0 AND species.ID=post.SPECIES_ID AND u.ID=post.USER_ID
				ORDER BY post.FOUND ASC, post.CREATE_DATE DESC
				)
			WHERE	
	]]>
		<include refid="criteria"></include>
				
	<![CDATA[
			rownum <= #{pageNum} * #{amount}
			)		
		WHERE rn > (#{pageNum} - 1) * #{amount}
	]]>
	</select>

	<!-- 게시글 조회 -->
	<select id="getPostDetail" parameterType="Long"
		resultMap="DogLostPostDetailDTO">
		SELECT
		post.ID, post.DOG_NAME, post.DOG_AGE, post.DOG_GENDER,
		post.DOG_DESCRIPTION,
		post.DOG_IMAGE, post.DOG_LOST_DATE,
		post.PHONE_NUMBER, post.DOG_LOST_ADDRESS, post.REWARD,
		post.VIEW_COUNT, post.CREATE_DATE, post.UPDATED_DATE, post.FOUND,
		post.USER_ID, post.SPECIES_ID, species.DOG_SPECIES, u.NICKNAME
		FROM
		dog_lost_post_tb post, dog_species_tb species, user_tb u
		WHERE
		post.SPECIES_ID = species.ID AND post.USER_ID = u.ID AND post.ID=#{id}
	</select>

	<!-- 게시글 조회 수 갱신 -->
	<update id="updateViewCount" parameterType="Long">
		UPDATE
		dog_lost_post_tb
		SET VIEW_COUNT = VIEW_COUNT+1
		WHERE ID=#{id}
	</update>

	<!-- 게시글 작성 -->
	<insert id="insertPost"
		parameterType="com.community.petish.community.dog.missingboard.dto.DogLostPostRequestWriteDTO">

		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select dog_lost_post_id_seq.nextval from dual
		</selectKey>

		insert into dog_lost_post_tb(id, dog_name, dog_age, dog_gender,
		dog_description, dog_image, dog_lost_date, phone_number,
		dog_lost_address, reward, view_count, create_date, updated_date,
		found, deleted, region_id, user_id, species_id)
		values(
		#{id},
		#{dog_name,jdbcType=VARCHAR},
		#{dog_age, jdbcType=VARCHAR},
		#{dog_gender, jdbcType=VARCHAR},
		#{dog_description, jdbcType=VARCHAR},
		#{dog_image, jdbcType=VARCHAR},
		#{dog_lost_date, jdbcType=DATE},
		#{phone_number, jdbcType=VARCHAR},
		#{dog_lost_address, jdbcType=DATE},
		#{reward, jdbcType=INTEGER},
		0, sysdate, sysdate, 0, 0, 1,
		#{user_id},
		#{species_id}
		)

	</insert>

	<!-- 게시글 수정 -->
	<update id="updatePost"
		parameterType="com.community.petish.community.dog.missingboard.dto.DogLostPostRequestWriteDTO">
		update dog_lost_post_tb
		set
		DOG_NAME=#{dog_name,
		jdbcType=VARCHAR},
		DOG_AGE=#{dog_age, jdbcType=INTEGER},
		DOG_GENDER=#{dog_gender, jdbcType=VARCHAR},
		DOG_DESCRIPTION=#{dog_description, jdbcType=VARCHAR},
		DOG_IMAGE=#{dog_image, jdbcType=VARCHAR},
		DOG_LOST_DATE=#{dog_lost_date, jdbcType=DATE},
		PHONE_NUMBER=#{phone_number, jdbcType=VARCHAR},
		DOG_LOST_ADDRESS=#{dog_lost_address, jdbcType=DATE},
		REWARD=#{reward,
		jdbcType=INTEGER},
		UPDATED_DATE=sysdate,
		FOUND=#{found},
		SPECIES_ID=#{species_id, jdbcType=INTEGER}
		where ID=#{id}
	</update>

	<!-- 게시글 삭제 -->
	<update id="deletePost" parameterType="Long">
		UPDATE dog_lost_post_tb
		SET DELETED=1
		WHERE ID=#{id}
	</update>

	<!-- 게시글 등록 시 쪽지 전송 -->
	<insert id="sendMessage">
		INSERT INTO message_tb(id, title, content, sender_id, receiver_id)
		SELECT ((select NVL(max(id), 0) from MESSAGE_tb) + 1), '[실종견 알림]', #{content, jdbcType=VARCHAR}, #{senderId}, u.id
		FROM user_tb u, dog_lost_post_tb d
		WHERE d.id=#{id}
		AND SUBSTR(u.address, 0, INSTR(u.address, ' ', 1, 3)) = SUBSTR(d.dog_lost_address, 0, INSTR(d.dog_lost_address, ' ', 1, 3))
	</insert>
</mapper>