<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.community.petish.user.mapper.UserMapper">

	<resultMap type="com.community.petish.user.dto.response.UserDetailResponse" id="UserDetailResponse">
		<result property="id" column="id"></result>
		<result property="username" column="username"></result>
		<result property="nickname" column="nickname"></result>
		<result property="gender" column="gender"></result>
		<result property="profileImage" column="picture"></result>
		<result property="concern" column="concern"></result>
	</resultMap>
	
	<insert id="save" parameterType="com.community.petish.user.dto.request.SaveUserParams">
		
		INSERT INTO USER_TB 
			(id, username, password, nickname, address, gender, join_date, deleted, concern_id)
		values
			(	( (select NVL(max(id), 0) from user_tb) + 1), #{username}, #{password}, #{nickname}, #{address}, #{gender}, sysdate, 0, 
				(SELECT id from concern_tb where concern = #{concern})
			)
			
		<selectKey resultType="Long" order="AFTER">
			SELECT id FROM user_tb where username = #{username} AND deleted = 0
		</selectKey>
	</insert>
	
	<select id="findByNickname" parameterType="String" resultType="String">
		SELECT nickname FROM USER_TB WHERE nickname = #{nickname} AND deleted = 0
	</select>
	
	<select id="findByUsername" parameterType="String" resultType="com.community.petish.user.domain.User">
		SELECT * FROM USER_TB WHERE username = #{username} AND deleted = 0
	</select>
	
	<select id="findById" parameterType="Long" resultType="com.community.petish.user.domain.User">
		SELECT * FROM user_tb WHERE id = #{id}
	</select>
	
	<select id="findAll" resultMap="UserDetailResponse">
		SELECT id, username, nickname, gender, picture FROM user_tb
	</select>
	
	
	<delete id="deleteAll">
		DELETE FROM USER_TB
	</delete>
	

</mapper>