.btn.btn-template-outlined {  
	float: right;
}

#heading-breadcrumbs {
    margin-bottom: 25px;
}

.table.col-lg-20{
	margin: auto; 
	text-align: center;
}
div.form-group div.form-group1{
	margin-top:20px;
}

a.nav-link{
	text-align:center;
}

.table.col-lg-20{
	margin-top:40px;
}

.btn.btn-template-main{
	margin-right:20px;
}

@media screen and (max-width:750px){
	.test{
		display:none;
	}
	.MoblieViewNumber.border-top-0{
		width:55px;
	}
	.MoblieViewText.border-top-0{
		width:180px;
	}
	.MoblieViewWriter.border-top-0{
		width:70px;
	}
	select#state{
		width: 100px;
	}
	div.input-group {
		width:200px;
	}
	
}

@media screen and (max-width:750px){
	.test{
		display:none;
	}
	.MoblieViewNumber.border-top-0{
		width:55px;
	}
	.MoblieViewText.border-top-0{
		width:180px;
		text-align:center;
	}
	.MoblieViewWriter.border-top-0{
		width:70px;
	}
	select#state{
		width: 100px;
	}
	div.input-group {
		width:200px;
	}
	td.MoblieViewText{
		text-align:center;
}

@media screen and (max-width:750px){
	.test{
		display:none;
	}
	.MoblieViewNumber.border-top-0{
		width:55px;
	}
	.MoblieViewText.border-top-0{
		width:180px;
	}
	.MoblieViewWriter.border-top-0{
		width:70px;
	}
	select#state{
		width: 100px;
	}
	div.input-group {
		width:200px;
	}
}