button.btn.btn-template-outlined {
	float: right;
	margin: 20px;
}

.dropdown{
	text-align: center;
}

.table{
	margin: auto; 
	text-align: center;
}
        
@media screen and (max-width:750px){

	th.test.border-top-0{
		display:none;
	}
	.test{
		display:none;
	}
	.MoblieViewWriter {
		width:70px;
	}
	.MoblieViewNumber.border-top-0 {
		width:70px;
	}
	div.test.col-md-2.col-lg-2{
		display:none;
	}
	.panel.panel-default.sidebar-menu{
		width:180px;
		margin-rigth:15px;
	}
	div.col-md-2.col-lg-2{
		width:100px;
	}
	div.teset.col-md-2.col-lg-2{
		display:none;
	}
}