<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.community.petish.admin.question.mapper.AdminQuestionMapper">
	
	
	<update id="questionResponse" parameterType="com.community.petish.admin.question.domain.questionResponseDTO">
		update question_tb set content=#{content}, replied=1 where id=#{id}
	</update>
	<select id="getQuestionList" resultType="com.community.petish.admin.question.domain.getQuestionListDTO">
		select q.id, c.category, u.nickname, q.title, q.content, q.created_date, q.replied
		from question_tb q, question_category_tb c, user_tb u
		where q.category_id=c.id and q.user_id= u.id and q.deleted=0
	</select>
</mapper>