	#subject{
		margin-top: 15px;
		margin-bottom : 15px;
		display:block;	
	}

	#spec {
		width:100%;
		text-align:left;
		margin-top: 15px;
		margin-bottom : 15px;
		display:block;	
	}

@media	(max-width: 768px)	{
	
}