<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.community.petish.admin.mapper.AdminMapper">
	<select id="getUserCount" resultType="Long">
		select count(*) from user_tb
	</select>
	<select id="getMaleCount" resultType="Long">
		select count(*) from user_tb where gender='남자'
	</select>
	<select id="getFemaleCount" resultType="Long">
		select count(*) from user_tb where gender='여자'
	</select>
	<select id="getConcernCatCount" resultType="Long">
		select count(*) from user_tb u join concern_tb c on u.concern_id = c.id where c.concern = 'cat'
	</select>
		<select id="getConcernDogCount" resultType="Long">
		select count(*) from user_tb u join concern_tb c on u.concern_id = c.id where c.concern = 'dog'
	</select>
	
	<select id="getUserList" resultType="com.community.petish.admin.domain.getUserListDTO">
		select * from user_tb
	</select>
	
	<delete id="deleteUser" parameterType="Long">
		delete from user_tb where id =#{id}
	</delete>
	<select id="getUser" parameterType="long" resultType="com.community.petish.user.dto.UserResponseDTO_Mypage">
		select id, username, nickname, picture, deleted, address, concern_id, gender
		from user_tb
		where id =#{id}
	</select> 
	
	<update id="modifyUser" parameterType="com.community.petish.user.dto.UserResponseDTO_Mypage">
		update user_tb set nickname=#{nickname}, address=#{address}, concern_id=#{concern_id}, gender=#{gender} where id=#{id}
	</update>

</mapper>