.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button.btn.btn-template-outlined.write-button {
float: right;
margin: 20px;
}

.table{
margin: auto; 
text-align: center;
}

region form-control{
min-width:3cm; 
padding-left: 15px;
}

.table td, .table th {
border-top: 1px solid lightgray;
}

#lostdogImg{
	width:150px !important;
	max-width:150px !important;	
	height:150px !important;
	max-height:150px !important;
}
.found-buttons{
	font-weight:200!important;
	font-size: 0.85rem!important;
}
.title, .writer ,.postDate, .view, .found, .dogImage{
	font-size:1.1rem;
}
.write-button{
	font-size:1rem!important;
}
.title{
	color:black;
}
.comment-count{
	vertical-align:middle!important;
	font-size: 0.8rem!important;
    background-color: #808080!important;
}

@media (max-width:400px) {
#lostdogImg{
	width:100px !important;
	max-width:100px !important;	
	height:100px !important;
	max-height:100px !important;
}	
}

@media screen and (max-width:750px){

th.test.border-top-0{
display:none;
}
.test{
display:none;
}
th.condition.border-top-0{
width:70px;
}
th.image.border-top-0{
width:70px;
}
th.title.border-top-0{
width:80px;
}
th.writer.border-top-0{
width:70px;
}
.si.col-md-2.col-lg-2{
display:none;
}

.condition.col-md-2.col-lg-2{
display:none;
}

.panel.panel-default.sidebar-menu{
width:450px;
margin-right:10px;
}

}