.triangle-border {
  font-family: 'Do Hyeon', sans-serif;	
  letter-spacing: 1px;
  position:relative;
  padding:15px;
  margin:1em 0;
  border:2px solid rgba(0,0,0,0.1);
  color:#333;
  background:#fff;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}


.triangle-border.left {
  background-color: seashell;
  margin-left:30px;
}


.triangle-border.right {
  margin-right:30px;
}


.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; 
  left:40px; 
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  display:block;
  width:0;
}


.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; 
  left:47px; 
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  display:block;
  width:0;
}

/* 상대방 말풍선 */
.triangle-border.left:before {
  top:10px; 
  bottom:auto;
  left:-30px; 
  border-width:15px 30px 15px 0;
  border-color:transparent rgba(0,0,0,0.1);
}


.triangle-border.left:after {
    top: 12px;
    bottom: auto;
    left: -24px;
    border-width: 13px 26px 13px 0;
    border-color: transparent seashell;
}


.triangle-border.right:before {
  top:10px;
  bottom:auto;
  left:auto;
  right:-30px; 
  border-width:15px 0 15px 30px;
  border-color:transparent rgba(0,0,0,0.1);
}


.triangle-border.right:after {
    top: 12px;
    bottom: auto;
    left: auto;
    right: -26px;
    border-width: 13px 0 13px 26px;
    border-color: transparent #fff;
}


