.showMemberDropMenu {
	left: 15px;
    position: relative;
    display: inline-block;
}

.member_dropMenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.member_dropMenu a {
    color: grey;
    text-decoration: none;
    display: block;
}

.member_dropMenu a:hover {
    background-color: #ddd;
}

.showMemberDropMenu:hover .member_dropMenu {
    display: block;
}

@media (max-width: 400px ) {
    .member_dropMenu a{
        font-size:13px;
        padding: 5px 5px;
    }
    .member_dropMenu{
        width: 2.2cm;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 400px ) {
    .member_dropMenu a{
        font-size:13px;
        padding: 5px 5px;
    }
    .member_dropMenu{
        width: 2.2cm;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 576px) {
    .member_dropMenu a{
        font-size:14px;
        padding: 7px 7px;
    }
    .member_dropMenu{
        width: 3.5cm;
    }
}

@media (min-width: 768px) {
    .member_dropMenu a{
        font-size:14px;
        padding: 7px 7px;
    }
    .member_dropMenu{
        width: 3.5cm;
    }
}