

h2 {
	padding: 10px !important;
}

.form-group {
	text-algin: center;
	margin-bottom: 1rem;
}

.messageText {
	display: inline-block;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 반응형  */
@media ( max-width : 400px) {
	.form-group {
		/* max-width: 325px; */
		width: 100%;
		text-algin: center;
		margin-bottom: 1rem;
	}
	.col-sm-6 col-md-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.messageText {
		width: 200px;
	}
}

@media ( min-width : 768px) {
	.form-group {
		max-width: 500px;
		width: 100%;
		text-algin: center;
		margin-bottom: 1rem;
	}
	.col-md-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.nondeco {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
   color: black;
}

.font-grey {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
   text-align : center;
}

#pass {
   margin-bottom: 0.2cm;
}

tr {
	height: 0.7cm;
	border: 1px solid #ddd;
}

#viewMore1, #viewMore2, #viewMore3 {
	margin-left: 1cm;
}

.memberInfo {
	border: 3px solid #d9d9d9;
	border-radius: 8px;
	margin-left: 1.5cm;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1cm;
	max-width: 20cm;
}

.profile {
	border-radius: 50%;
	width: 2cm;
	height: 2cm;
	
}

.detail_table {
	margin-left: auto;
	margin-right: auto;
}

 #margin-top{
 	margin-top : 15px;
 }
 
 .margin-bottom{
	margin-bottom : 50px;
}


#menu .title {
	cursor: pointer;
}

#menu .hide {
	display: none;
}
