<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.community.petish.hospital.mapper.HospitalMapper">
 	<resultMap type="com.community.petish.hospital.domain.HospitalVO" id="hospitalResultMap">
 		<result property="id" column="ID"/>
 		<result property="hospital_name" column="HOSPITAL_NAME"/>
 		<result property="hospital_addr" column="HOSPITAL_ADDR"/>
 		<result property="hospital_phone" column="HOSPITAL_PHONE"/>
 		<result property="hospital_check" column="HOSPITAL_CHECK"/>
 		<result property="hospital_hours" column="HOSPITAL_HOURS"/>
 		<result property="hospital_website" column="HOSPITAL_WEBSITE"/>
 		<result property="hospital_img" column="HOSPITAL_IMG"/>
 		<result property="isParking" column="ISPARKING"/>
 		<result property="isEmergency" column="ISEMERGENCY"/>
 		
 		
 	</resultMap>
 	
 	<resultMap type="com.community.petish.hospital.domain.ListDTO" id="listResultMap">
 		<result property="id" column="ID"/>
 		<result property="hospital_name" column="HOSPITAL_NAME"/>
 		<result property="hospital_addr" column="HOSPITAL_ADDR"/>
 		<result property="hospital_phone" column="HOSPITAL_PHONE"/>
 		<result property="hospital_hours" column="HOSPITAL_HOURS"/>
 		<result property="hospital_img" column="HOSPITAL_IMG"/>
 		<result property="isEmergency" column="ISEMERGENCY"/>
 		
 		
 	</resultMap>
 	
 	<select id="getHospital" resultMap="hospitalResultMap">
 		select * from hospital_tb where id = #{id}
 	</select>
 	
 	<!-- id는 Mapper.java(여기선 MemberMapper.java)에 동일하게 사용 -->
 	<select id="gethospitalList" resultMap="listResultMap">
 		select * from hospital_tb where hospital_addr like '%'||#{hospital_addr}||'%'
 	</select>
 	<select id="getEmerhospitalList" resultMap="listResultMap">
 		select * from hospital_tb where hospital_addr like '%'||#{hospital_addr}||'%' and isEmergency = 1
 	</select>
 	
 	<select id="getListWithPaging" resultMap="listResultMap">
 		<![CDATA[
 			select * 
 			from
 				(
 				select
 					rownum rn, id, hospital_name, hospital_addr, hospital_phone, hospital_hours,hospital_img, isEmergency
 				from
 					hospital_tb
 				where hospital_addr like '%'||#{hospital_addr}||'%' and rownum <= #{pageNum}*#{amount}
 				)
 			where rn > (#{pageNum}-1)*#{amount}
 		]]>
 	</select>
 	
 	<select id="getEmerListWithPaging" resultMap="listResultMap">
 		<![CDATA[
 			select * 
 			from
 				(
 				select
 					rownum rn, id, hospital_name, hospital_addr, hospital_phone, hospital_hours,hospital_img, isEmergency
 				from
 					hospital_tb
 				where isEmergency = 1 and hospital_addr like '%'||#{hospital_addr}||'%' and rownum <= #{pageNum}*#{amount}
 				)
 			where rn > (#{pageNum}-1)*#{amount}
 		]]>
 	</select>
 	
 	<select id="getTotalCount" resultType="int">
 		select count(*) from hospital_tb where hospital_addr like '%'||#{hospital_addr}||'%'
 	</select>
 	<select id="getEmerTotalCount" resultType="int">
 		select count(*) from hospital_tb where hospital_addr like '%'||#{hospital_addr}||'%' and isEmergency = 1
 	</select>
 	<select id="getScore" resultType="double">
 		select avg(score) from hospital_review_tb where hospital_id = #{id}
 	</select>
 	
 </mapper> 