<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.community.petish.hospital.mapper.ReviewMapper">
	<resultMap type="com.community.petish.hospital.domain.ReviewVO" id="reviewMap">
 		<result property="id" column="ID"/>
 		<result property="content" column="CONTENT"/>
 		<result property="score" column="SCORE"/>
 		<result property="create_date" column="CREATE_DATE"/>
 		<result property="deleted" column="DELETED"/>
 		<result property="user_id" column="USER_ID"/>
 		<result property="hospital_id" column="HOSPITAL_ID"/>
 		
 		
 	</resultMap>
 	
 	<resultMap type="com.community.petish.hospital.domain.getReviewDTO" id="reviewDTO">
 		<result property="id" column="ID"/>
 		<result property="content" column="CONTENT"/>
 		<result property="score" column="SCORE"/>
 		<result property="create_date" column="CREATE_DATE"/>
 		<result property="deleted" column="DELETED"/>
 		<result property="user_id" column="USER_ID"/>
 		<result property="hospital_id" column="HOSPITAL_ID"/>
 		
 		
 	</resultMap>
 	
 	
 	<select id="getHospitalReviewList" resultMap="reviewMap">
 		select * from hospital_review_tb where hospital_id =#{id} order by id desc
 	</select>
 	
 	<select id="getHospitalReview" resultType="Integer">
 		select count(*) from hospital_review_tb where user_id =#{user_id} and hospital_id =#{hospital_id}
 	</select>
 	
 	<select id="getTotalCount" resultType="Integer">
 		select count(*) from hospital_review_tb where hospital_id =#{id} and deleted =0
 	</select>
 	
 	<select id="getReviewWithPaging" resultMap="reviewDTO">
 		<![CDATA[
 			select *
			from
       			(
       			select rownum rn, id, content, score, hospital_id, user_id,nickname  
        		from
              		 (
              		 select
 							h.id, h.content, h.score, h.hospital_id, h.user_id,u.nickname
 					 from
 							hospital_review_tb h JOIN user_tb u
 					 ON h.user_id = u.id
 					 where h.hospital_id =#{hospital_id} and h.deleted=0 order by h.id desc
 					 )
          		  where rownum<=#{pageNum}*#{amount}
       			 )
       		 where rn >(#{pageNum}-1)*#{amount}
       		 
       		 
       		
 		]]>
 	</select>
 	
 	<insert id="insertReview" parameterType="com.community.petish.hospital.domain.ReviewVO">
 		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
 			select reviewId_seq.nextval from dual
 		</selectKey>
 		insert into hospital_review_tb values(#{id},#{content},#{score},sysdate,0,#{user_id},#{hospital_id})
 	</insert>
 	<delete id="deleteReview" parameterType="Long">
 		delete from hospital_review_tb where id = #{id}
 	</delete>
 	<update id="modifyReview" parameterType="com.community.petish.hospital.domain.ReviewModifyDTO">
 		update hospital_review_tb set content =#{content}, score =#{score} where id = #{id}
 	</update>
</mapper>